; D3D9 antikolag config file
; fabiarenx@hotmail.com

; RenderAheadLimit: Limit how many frames ahead are rendered to reduce input lag. 0 to disable.
; FPSlimit: Limit framerate for smoother gameplay and reduced cpu/gpu use. 0 to disable.

[config]
RenderAheadLimit=2
FPSlimit=60
